@import url(common.css);

.quick_toggle{  /*close->처음에 표시되는 close버튼*/
	position:fixed;
	top:0; 
	right:70px; 
	width:70px;
	height:70px;
	background:url(../image/quick_close.png) no-repeat;
	display:block;
	cursor:pointer;
}
.quick_open{   /*open->jquery에서 불러옴*/
	position:fixed; 
	top:0; 
	right:70px; 
	width:70px;
	height:70px;
	background:url(../image/quick_open.png) no-repeat;
	display:block;
	cursor:pointer;
}

.quickmenu{
	position:fixed; 
	top:0; 
	right:0; 
	width:70px;
	height:100%;
	background:#585858;
}
.quickmenu .quick_icon{padding-top:10px;}
.quickmenu .quick_icon li{text-align:center;}

.quickmenu .quick_bt{
	position:absolute; 
	bottom:0; 
	right:0;
}
.quickmenu .quick_bt li{padding:1px 0;}