@import url(common.css);

/*///// Aside Quick Icon */

.aside{  /* 전체영역을 고정하기위해 사용함 */
  /* border: 1px solid red; */
	position:fixed;
	bottom:60px; 
	right:5px;
	width:50px;
	height:500px;
	z-index:2000;
	overflow:hidden;
	
}
.quickmenu{  /* 퀵메뉴의 전체기준을 잡음 */
	position:relative; 
	width:50px;
	height:500px;
	z-index:1100;
	/* background:yellow; */
}

.quickmenu .quick_icon{
  position:absolute;
	bottom:0;
	left:0;
}
.quickmenu .quick_icon li{  /* 모든 아이콘들을 한곳에 위치 */
	position:absolute;
	bottom:0;
	left:0;
}
.quick_icon li a{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-size: 26px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.quick_icon .icon1 a{background-color: #e4405f;}
.quick_icon .icon2 a{background-color: #4aa54a;}
.quick_icon .icon3 a{background-color: #dd4b39;}
.quick_icon .icon4 a{background-color: #55acee;}
.quick_icon .icon5 a{background-color: #3b5999;}


/* Trigger */
.trigger {
  width: 50px;
  height: 50px;
	margin: auto;
  background-color: rgb(5, 26, 90);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
	bottom:10px; 
  cursor: pointer;
  z-index: 100;
}
.trigger_btn{
  /* border: 1px solid #000; */
  width: 60%;
  height: 40%;
  position: relative;

}
.trigger_btn span{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.trigger_btn span:nth-child(1){
  top: 0;
}
.trigger_btn span:nth-child(2){
  top: 50%;
}
.trigger_btn span:nth-child(3){
  top: 100%;
}

/* jQuery 에서 trigger클릭시 바뀌는 부분 */
.trigger_btn.active span{
  background-color: #fff;
}
.trigger_btn.active span:nth-child(1){
  top: 50%;
  transform: rotate(45deg);
  /* transform-origin: right bottom; */
}
.trigger_btn.active span:nth-child(2){
  opacity: 0;
}
.trigger_btn.active span:nth-child(3){
  top: 50%;
  transform: rotate(-45deg);
}
