@import url(reset.css);
@import url(font.css);

#contain{
	width:1200px;
	height: 100vh;
	margin:auto;
	position:relative;
}
section{
	width: 100%;
	background-color: royalblue;
}
section p{
	font-size: 55px;
	color: #fff;
}

/* Quick Banner */
#quickBanner {
  position:absolute;
  top:20px;
  left:100%; /*contents가 끝나는 바로 다음에 위치*/
}
.banner{
	width: 193px;
	height: 178px;  
	cursor:pointer;
	animation:updown 3s infinite;
}

@keyframes updown{
	0%{
    transform:translate(0px,0px );
  }50%{
    transform:translate(0px,30px );
  }100%{
    transform:translate(0px,0px );
  }	
}